<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set Password | MyUniCorner</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #cecec5;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        overflow-x: hidden;
      }
      a {
        text-decoration: none;
      }
      #title {
        color: white;
      }
      #head {
        background-color: #202b13;
        min-height: 90px;
        height: fit-content;
        width: 100%;
        padding: 20px;
        color: white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 50px;
      }
      .btn {
        color: black;
        background-color: #d4d4d4;
        font-size: 1.5rem;
        text-align: center;
        height: fit-content;
        padding: 5px;
        text-decoration: none;
        font-weight: 600;
        margin: 5px;
      }
      .btn:hover {
        background: #12160d;
        color: white;
        border: 1px solid white;
      }
      #signIn {
        width: 80vw;
        max-width: 900px;
        margin: 20px auto;
        height: fit-content;
        min-height: 500px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 40px;
      }
      .heading {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 2.5rem;
      }
      fieldset {
        border: none;
      }
      label {
        font-size: 1.5rem;
      }
      input {
        font-size: 1.1rem;
        background-color: #d4d4d4;
        margin: 10px;
        width: 80%;
        height: 30px;
        border: none;
        padding: 20px;
      }
      #set {
        width: 70%;
        margin: 20px 15%;
        padding: 10px;
        background-color: #202b13;
        color: white;
      }
      #set:hover {
        background-color: #94c274;
        color: #12160d;
        border: 1px solid #12160d;
      }
    </style>
  </head>
  <body>
    <header id="head">
      <a href="/">
        <h1 id="title">MyUniCorner</h1>
      </a>
      <a href="/" class="btn">Go Back</a>
    </header>
    <main>
      <div id="signIn">
        <h1 class="heading">Create Password</h1>
        <form action="/confirmRegister" method="post" id="regForm">
          <fieldset>
            <label for="userId">User-Id</label><br />
            <input type="text" name="userId" id="userId" value=<%= data.userId %> readonly/>
          </fieldset>
          <fieldset>
            <label for="userId">Email</label><br />
            <input type="email" name="email" id="email" readonly value=<%= data.email %> />
          </fieldset>
          <br />
          <fieldset>
            <label for="password">New Password</label>
            <br />
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Enter your password here"
            />
            <p>Password must contain at least a lowercse letter, an uppercse letter and a numeric-key and a symbol</p>
            <br />
            <label for="rePassword">Re-type Password</label>
            <br />
            <input
              type="password"
              name="rePassword"
              id="rePassword"
              placeholder="Enter your password again"
            />
            <br />
          </fieldset>
          <br />
          <input type="button" value="Set Password" class="btn" id="set" />
        </form>
      </div>
    </main>
    <script>
      document.querySelector('#set').addEventListener('click', ()=>{
        const pwd = document.getElementById('password').value
        const rePwd = document.getElementById('rePassword').value
        const pattern = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,}$/
        if(pwd.length === 0)
          alert('Password is required')
        else if(pwd.length <8){
          alert('password must be at least 8 characters')
          document.getElementById('password').value = ''
        }
        else if(!pwd.match(pattern)){
          alert('password must contain at least a lowercse letter, an uppercse letter and a numeric-key and a symbol')
          document.getElementById('password').value = ''
        }
        else if (pwd !== rePwd){
          alert('Password and re-typed password do not match')
          document.getElementById('rePassword').value = ''
        }
        else{
          console.log(document.querySelector('#regForm'))
          document.querySelector('#regForm').submit();
        }
      })
    </script>
  </body>
</html>
